{%extends 'base.html'%}

{%block title%}Red Compu - Inicio{%endblock%}

{%block content%}

<main>
    <section>
        <div class="container-font">
            <div class="cont-footer-slider">
                <div class="cont-font">
                    <div class="cont-font-img">
                        <img src="../static/img/IA.png" width="250px" alt="">
                    </div>
                    <div class="cont-font-text">
                        <h1>Inteligencia Artificial</h1>
                        <p> Un Sistema Operativo (SO) es un programa (software) que cuando arrancamos o iniciamos el
                            ordenador se encarga de gestionar todos los recursos del sistema informático permitiendo
                            así
                            la comunicación entre el usuario y el ordenador.</p>
                        <li><a href="inteligencia_artificial">Conocer más</a></li>
                    </div>
                </div>
                <div class="cont-font">
                    <div class="cont-font-img">
                        <img src="../static/img/web_30.png" width="250px" alt="">
                    </div>
                    <div class="cont-font-text">
                        <h1>Web 3.0</h1>
                        <p>  La Web 3.0 es una evolución de la World Wide Web que ha sido discutida y conceptualizada en
                            la última década.</p>
                        <li><a href="web_3.0">Conocer más</a></li>
                    </div>
                </div>
                <div class="cont-font">
                    <div class="cont-font-img">
                        <img src="../static/img/sistemas-operativos.png" width="250px" alt="">
                    </div>
                    <div class="cont-font-text">
                        <h1>Sistemas Operativos</h1>
                        <p> Un Sistema Operativo (SO) es un programa (software) que cuando arrancamos o iniciamos el
                            ordenador se encarga de gestionar todos los recursos del sistema informático permitiendo
                            así
                            la comunicación entre el usuario y el ordenador.</p>
                        <li><a href="sistemas_operativos">Conocer más</a></li>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-circle-arrow-left" onclick="prevSlide()"></i>
            <i class="fa-solid fa-circle-arrow-right" onclick="nextSlide()"></i>
        </div>

        <!--Contenedor servicios-->
        <div class="container-servicios">
            <h1>Servicios que ofrecemos</h1>
            <div class="cont-servicios">
                <div class="servicios-title">
                    <img src="..//static/img/services/diseño-grafico.png" width="200px" alt="">
                    <h1>Diseño grafico</h1>
                    <li><a href="diseño_grafico">Contactar</a></li>
                </div>
                <div class="servicios-title">
                    <img src="..//static/img/services/diseño-web.png" width="200px" alt="">
                    <h1>Programación Web</h1>
                    <li><a href="programacion">Contactar</a></li>
                </div>
                <div class="servicios-title">
                    <img src="..//static/img/services/servicio tecnico.png" width="200px" alt="">
                    <h1>Servicio tecnico</h1>
                    <li><a href="servicio_tecnico">Contactar</a></li>
                </div>
            </div>
        </div>

        <!--Temas destacados-->

        <div class="contenedor-temas">
            <h1>Temas destacados</h1>
            <div class="cont-temas">
                <div class="cont-temas-title">
                    <h1>Chat gpt</h1>
                    <p>Chat GPT es un modelo de lenguaje desarrollado por OpenAI. OpenAI es una organización de
                        investigación en inteligencia artificial con sede en San Francisco, California. fundada en
                        2015 por empresarios como Elon Musk y Sam Altman.</p>
                    <li><a href="https://openai.com/chatgpt" target="_blank">Conocer más</a></li>
                </div>
                <div class="cont-temas-title">
                    <h1>Kits Ai</h1>
                    <p>Potencia tu música con Kits AI. Genere sus propias voces de IA con un solo clic. Kits AI es
                        una generación de voz de IA y una plataforma de voz de IA gratuita para que los músicos
                        utilicen y creen voces de IA.</p>
                    <li><a href="https://www.kits.ai/es/" target="_blank">Conocer más</a></li>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    // Variables globales
    var currentSlide = 0;
    var totalSlides = document.querySelectorAll('.cont-font').length;

    // Función para mostrar el slide anterior
    function prevSlide() {
        currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
        updateSlider();
    }

    // Función para mostrar el siguiente slide
    function nextSlide() {
        currentSlide = (currentSlide + 1) % totalSlides;
        updateSlider();
    }

    // Función para actualizar la posición del slider
    function updateSlider() {
        var newTranslateValue = -currentSlide * 100 + '%';
        document.querySelector('.cont-footer-slider').style.transform = 'translateX(' + newTranslateValue + ')';
    }

</script>
{%endblock%}