{%extends 'base.html'%}

{%block title%}Red Compu - Descargas{%endblock%}

{%block content%}

<body class="body_download">
    <main>
        <section>
            <div class="contenedor-software">
                <div class="cont-software">
                    <div class="cont-software-text">
                        <h1>Los mejores software actualizados para tu pc</h1>
                        <h2>Los encuentras aqui en</h2>
                        <h3>- RedCompu -</h3>
                    </div>
                </div>
            </div>

            <!--Descargas-->

            <div class="contenedor-descargas">
                <div class="descargas">
                    <h1>Diseño Grafico<i class="fa-solid fa-arrow-right"></i></h1>
                    <div class="descargas-title">
                        <div class="descargas-info">
                            <a href="https://www.adobe.com/la/products/illustrator.html" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/ai.png" width="80px" alt="">
                                    <h1>Adobe Ilustraitor</h1>
                                </ul>
                            </a>
                            <p>Editor de gráficos vectoriales.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.adobe.com/la/products/aftereffects/free-trial-download.html" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/after-effects.png" width="80px" alt="">
                                    <h1>After Effects</h1>
                                </ul>
                            </a>
                            <p>El software de gráficos animados.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.canva.com/es_419/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/canva.png" width="80px" alt="">
                                    <h1>Canva</h1>
                                </ul>
                            </a>
                            <p>Plataforma de diseño gráfico en línea.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.coreldraw.com/la/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/corel.png" width="80px" alt="">
                                    <h1>Corel Draw</h1>
                                </ul>
                            </a>
                            <p>Aplicación informática de diseño gráfico vectorial.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="http://www.gimp.org.es/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/gimp.png" width="80px" alt="">
                                    <h1>Gimp</h1>
                                </ul>
                            </a>
                            <p>Edición de imágenes digitales.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.adobe.com/la/products/photoshop.html" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/ps.png" width="80px" alt="">
                                    <h1>Adobe Photoshop</h1>
                                </ul>
                            </a>
                            <p>Editor fotografico.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="#" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/fonts.png" width="80px" alt="">
                                    <h1>Google Fonts</h1>
                                </ul>
                            </a>
                            <p>Fuentes tipográficas.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.adobe.com/la/products/indesign.html" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-diseño/id.png" width="80px" alt="">
                                    <h1>InDesign</h1>
                                </ul>
                            </a>
                            <p>Composición digital de páginas.</p>
                        </div>
                    </div>
                </div>

                <div class="descargas">
                    <h1>Programación<i class="fa-solid fa-arrow-right"></i></h1>
                    <div class="descargas-title">
                        <div class="descargas-info">
                            <a href="https://getbootstrap.com/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/boostrap.png" width="80px" alt="">
                                    <h1>Boostrap</h1>
                                </ul>
                            </a>
                            <p>Biblioteca multiplataforma.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://git-scm.com/downloads" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/git.png" width="80px" alt="">
                                    <h1>Git</h1>
                                </ul>
                            </a>
                            <p>Software de control .</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.java.com/es/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/java.png" width="80px" alt="">
                                    <h1>Java</h1>
                                </ul>
                            </a>
                            <p>Lenguaje de programación.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://nodejs.org/en" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/node.png" width="80px" alt="">
                                    <h1>Node Js</h1>
                                </ul>
                            </a>
                            <p>Entorno en tiempo de ejecución multiplataforma.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://visualstudio.microsoft.com/es/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/vs.png" width="80px" alt="">
                                    <h1>Visual Studio</h1>
                                </ul>
                            </a>
                            <p>Editor de código.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://ve.wordpress.org/plugins/woocommerce/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/woo_commerce.png" width="80px" alt="">
                                    <h1>WooCommerce</h1>
                                </ul>
                            </a>
                            <p>Plugin de comercio electrónico.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://sites.google.com/new?hl=es" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/sites.png" width="80px" alt="">
                                    <h1>Google Sites</h1>
                                </ul>
                            </a>
                            <p>Herramienta para la creación de páginas web.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://wordpress.com/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-developer/wordpress.png" width="80px" alt="">
                                    <h1>WordPress</h1>
                                </ul>
                            </a>
                            <p>Sistema de gestión de contenidos.</p>
                        </div>
                    </div>
                </div>

                <div class="descargas">
                    <h1>Internet<i class="fa-solid fa-arrow-right"></i></h1>
                    <div class="descargas-title">
                        <div class="descargas-info">
                            <a href="https://www.google.com/intl/es-419/chrome/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/chrome.png" width="80px" alt="">
                                    <h1>Google Chrome</h1>
                                </ul>
                            </a>
                            <p>Navegador web.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.daemon-tools.cc/spa/downloads" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/daemon.png" width="80px" alt="">
                                    <h1>Daemon tools</h1>
                                </ul>
                            </a>
                            <p>Emulador de imágenes de disco</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.mozilla.org/es-ES/firefox/new/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/firefox.png" width="80px" alt="">
                                    <h1>Mozilla Firefox</h1>
                                </ul>
                            </a>
                            <p>Navegador web libre.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.internetdownloadmanager.com/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/idm.png" width="80px" alt="">
                                    <h1>IDM</h1>
                                </ul>
                            </a>
                            <p>Internet Download Manager.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.skype.com/es/" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/skype.png" width="80px" alt="">
                                    <h1>Skype</h1>
                                </ul>
                            </a>
                            <p>Comunicaciones de texto, voz y vídeo sobre Internet.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.winrar.es/descargas" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/winrar.png" width="80px" alt="">
                                    <h1>Winrar</h1>
                                </ul>
                            </a>
                            <p>Software de compresión de datos.</p>
                        </div>
                        <div class="descargas-info">
                            <a href="https://www.whatsapp.com/download?lang=es_LA" target="_blank">
                                <ul>
                                    <img src="/static/img/programas-internet/ws.png" width="80px" alt="">
                                    <h1>Whatsapp</h1>
                                </ul>
                            </a>
                            <p>Aplicación de mensajería instantánea.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenedor-descarga-system">
                <div class="descarga-system">
                    <div class="system-title">
                        <H1>Obten tu Sistema Operativo</H1>
                    </div>
                    <div class="system-download">
                        <div class="system-download-info">
                            <div class="system-download-info-img">
                                <img src="/static/img/windows/windows7.png" alt="">
                            </div>
                            <div class="system-download-info-title">
                                <h1>Windows 7</h1>
                            </div>
                            <div class="system-download-info-text">
                                <p>Windows 7 es una versión descontinuada de Microsoft Windows, línea de sistemas
                                    operativos producida por Microsoft Corporation.</p>
                            </div>
                            <div class="system-download-info-star">
                                <ul>
                                    <img src="/static/img/windows/Stars.png" alt="">
                                </ul>
                                <ul>
                                    <h2>Gratis</h2>
                                </ul>
                            </div>
                            <li><a href="win_7">Descargar</a></li>
                        </div>
                        <div class="system-download-info">
                            <div class="system-download-info-img">
                                <img src="/static/img/windows/windows10.png" alt="">
                            </div>
                            <div class="system-download-info-title">
                                <h1>Windows 10</h1>
                            </div>
                            <div class="system-download-info-text">
                                <p>Windows 10 es un sistema operativo desarrollado por Microsoft como parte de la
                                    familia de sistemas operativos Windows NT.</p>
                            </div>
                            <div class="system-download-info-star">
                                <ul>
                                    <img src="/static/img/windows/Stars2.png" alt="">
                                </ul>
                                <ul>
                                    <h2>Gratis</h2>
                                </ul>
                            </div>
                            <li><a href="win_10">Descargar</a></li>
                        </div>
                        <div class="system-download-info">
                            <div class="system-download-info-img">
                                <img src="/static/img/windows/windows11.png" alt="">
                            </div>
                            <div class="system-download-info-title">
                                <h1>Windows 11</h1>
                            </div>
                            <div class="system-download-info-text">
                                <p>Windows 11 es el nombre de la versión más reciente del sistema operativo Windows​
                                    desarrollado por Microsoft, además de ser el sucesor de Windows 10.</p>
                            </div>
                            <div class="system-download-info-star">
                                <ul>
                                    <img src="/static/img/windows/Stars3.png" alt="">
                                </ul>
                                <ul>
                                    <h2>Gratis</h2>
                                </ul>
                            </div>
                            <li><a href="win_11">Descargar</a></li>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
</body>
{%endblock%}