{%extends 'base.html'%}

{%block title%}Red Compu - Diseño Grafico{%endblock%}

{%block content%}

<body>

    <main>
        <section>
            <div class="contenedor-flyer">
                <div class="cont-flyer">
                    <div class="flyer-title">
                        <h1>Portafolio</h1>
                    </div>
                    <div class="flyer">
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Flyer damas.jpg"  alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Flyer diseñamos tu logo para ig.jpg"  alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/flyer-esthefany.jpg" alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Menu.jpg" alt="">
                        </div>
                    </div>
                    <div class="flyer">
                        <div class="flyer-img ">
                            <img src="/static/img/my portafolio/design_flyers/flyer-playa-colorada.jpg"  alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Flyer-trabajos.jpg"  alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Flyer-windows.jpg"  alt="">
                        </div>
                        <div class="flyer-img">
                            <img src="/static/img/my portafolio/design_flyers/Menu Burguer.jpg"  alt="">
                        </div>       
                    </div>                 
                </div>
                <div class="cont-logos">
                    <div class="logo-title">
                        <h1>Logotipos</h1>
                    </div>
                    <div class="logo">
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/compured.png"  alt="">
                        </div>
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/logo3.png"  alt="">
                        </div>
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/Logo-cr-design.png" alt="">
                        </div>
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/Maria-Detallitos.png" alt="">
                        </div>   
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/logo_kati.png" alt="">
                        </div>      
                        <div class="logo-img">
                            <img src="/static/img/my portafolio/design_logos/Pasteleria Ana.png" alt="">
                        </div>      
                </div>                               
                </div>
            </div>
            <div class="contenedor-portafolio-design-graphics">
                <div class="design-graphics-cont">
                    <div class="design-graphics">
                        <div class="design-graphics-text">
                            <h1>Formulario de contacto</h1>
                            <h2>RedCompu</h2>
                            <h3><i class="fa-solid fa-mobile-screen-button"></i>+58 412-9292382</h3>
                        </div>
                        <div class="cuadro"></div>
                        <div class="cuadro-two"></div>
                    </div>
                    <div class="design-graphics-second">
                        <div class="design-graphics-second-cont">
                            <div class="design-graphics-title">
                                <h1>TE OFRECEMOS NUESTROS SERVICIOS DE:</h1>
                                <h2>Diseño Grafico</h2>
                            </div>
                            <form action="" method="post">
                                <div class="design-graphics-form">
                                    <ul>Contactanos</ul>
                                    <ul>
                                        <label>Nombre completo</label>
                                        <input type="text" id="name" placeholder="Nombre completo">
                                    </ul>
                                    <ul>
                                        <label>Correo electronico</label>
                                        <input type="email" id="email" placeholder="Correo electronico">
                                    </ul>
                                    <ul> 
                                        <label>Numero de Telefono</label>
                                        <div class="select-box">
                                            <div class="selected-option">
                                              <div>
                                                <span><iconify-icon icon="flag:ve-4x3"></iconify-icon></span>
                                                <strong>+58</strong>
                                              </div>
                                              <input type="tel" name="tel" placeholder="Numero de telefono" oninput="validarTelefono(event)">
                                            </div>
                                            <div class="options">
                                              <input type="text" class="search-box" placeholder="Seleccione su Pais">
                                              <ol>
                                               
                                              </ol>
                                            </div>
                                          </div>

                                    </ul>                  
                                    <div class="btn_1">
                                        <input type="submit" name="btn_1" id="btn_1">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="cuadro-three"></div>
                        <div class="cuadro-four"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

  <!--Phone number-->
  <script>

    const countries = [
        { name: "Argentina", code: "AR", phone: 54 },
        { name: "Brazil", code: "BR", phone: 55 },
        { name: "Chile", code: "CH", phone: 56 },
        { name: "Bolivia", code: "BO", phone: 591 },
        { name: "Ecuador", code: "EC", phone: 593 },
        { name: "Paraguay", code: "PR", phone: 595 },
        { name: "Peru", code: "PE", phone: 51 },
        { name: "Colombia", code: "CO", phone: 57 },
        { name: "Venezuela", code: "VE", phone: 58 },
        { name: "Uruguay", code: "UY", phone: 598 },
        { name: "Mexico", code: "ME", phone: 52 },
        { name: "Guatemala", code: "GT", phone: 502 },
    ],

        select_box = document.querySelector('.options'),
        search_box = document.querySelector('.search-box'),
        input_box = document.querySelector('input[type="tel"]'),
        selected_option = document.querySelector('.selected-option div');

    let options = null;
    for (country of countries) {
        const option = ` 
        <li class="option">
          <div>
             <span class="iconify"><iconify-icon icon="flag:${country.code.toLowerCase()}-4x3"></iconify-icon></span>
             <span class="country-name">${country.name}</span>
          </div>
          <span class="phone-number" readonly>+${country.phone}</span>
      </li> `;

        select_box.querySelector('ol').insertAdjacentHTML('beforeend', option);
        options = document.querySelectorAll('.option');
    }

    function selectOption() {
        console.log(this)
        const icon = this.querySelector('.iconify').cloneNode(true),
            phone_code = this.querySelector('.phone-number').cloneNode(true);

        selected_option.innerHTML = '';
        selected_option.append(icon, phone_code);

        input_box.value = phone_code.innerText;

        select_box.classList.remove('active');
        selected_option.classList.remove('active');

        search_box.value = '';
        select_box.querySelectorAll('hide').forEach(el => el.classList.remove('hide'));

    }

    function searchCountry() {
        let search_query = search_box.value.toLowerCase();
        for (option of options) {
            let is_matched = option.querySelector('.country-name').innerText.toLowerCase().includes(search_query);
            option.classList.toggle('hide', !is_matched)
        }
    }

    selected_option.addEventListener('click', () => {
        select_box.classList.toggle('active');
        selected_option.classList.toggle('active');

    })

    options.forEach(option => option.addEventListener('click', selectOption));
    search_box.addEventListener('input', searchCountry);

</script>

<!--Script validar telefono-->

<script>
    function validarTelefono(event) {
        // Obtener el valor actual del campo de entrada
        let inputValue = event.target.value;

        // Reemplazar cualquier carácter que no sea un número o el signo '+' con una cadena vacía
        let validValue = inputValue.replace(/[^0-9+]/g, '');

        // Actualizar el valor del campo de entrada con la entrada válida
        event.target.value = validValue;
    }
</script>

   
</body>

{%endblock%}
