{%extends 'base.html'%}

{%block title%}Red Compu - Quienes somos{%endblock%}

{%block content%}

<main>
  <section>
    <div class="contenedor-quienes-somos">
      <div class="nosotros-title">
        Red Compu
      </div>
      <div class="nosotros-info">
        <p>
          <span>RedCompu </span>es una empresa emprendedora especializada en ofrecer soluciones integrales en el ámbito
          digital. Con
          un enfoque versátil, Nos encargamos en desempeñar nuestros servicios de diseño de páginas web, diseño gráfico
          y
          servicio técnico tanto para computadoras como para teléfonos.
        </p>
      </div>
      <div class="nosotros-equipo">
        <p>Nuestro equipo</p>
        <div class="equipo-title">
          <ul>
            <div class="equipo-img">
              <ul>
                <img src="../static/img/andres.jpg"  alt="">
              </ul>
            </div>
            <div class="equipo-info">
              <ul>Andres Hernández</ul>
              <span>Desarrollador Web Jr y Diseñador Grafico</span>
              <h1>24 años de edad</h1>
              <h1>Estudiando TSU Mantenimiento de Sistemas Informaticos.</h1>
              <h1>Manejo basico de Html, Css, Php, Python, Boobstrap.</h1>
              <h1>Manejo de Adobe Photoshop, Ilustraitor y más</h1>
              <h1>Venezuela</h1>
            </div>
          </ul>
          <ul>
            <div class="equipo-img">
              <ul>
                <img src="../static/img/javier.jpg"  alt="">
              </ul>
            </div>
            <div class="equipo-info">
              <ul>Javier Hernández</ul>
              <span>Diseñador Grafico</span>
              <h1>21 años de edad, estudiante de Medicina 5/6</h1>
              <h1>Manejo de Adobe Photoshop, Ilustraitor y más</h1>
              <h1>Venezuela</h1>
            </div>
          </ul>
        </div>
      </div>
    </div>

  </section>
</main>

{%endblock%}