{%extends 'base.html'%}

{%block title%}Red Compu - WIndows 7{%endblock%}

{%block content%}

<body>

    <main>
        <section>
            <div class="contenedor-info-ia">
                <div class="cont-info-ia">
                    <div class="info-ia-title">
                        <div class="info-ia-img info-ia-img-system">
                            <img src="/static/img/win_7.png" alt="">
                        </div>
                        <div class="info-ia">
                            Windows 7 es el sistema operativo que ha remplazado a Windows Vista con nuevas utilidades y
                            reutilizando herramientas pasadas para una mejor sincronización con el usuario. Después de
                            las
                            críticas a su antecesor, Microsoft nos brinda un sistema operativo que recoge lo mejor de
                            Windows Vista y añade nuevas características para un funcionamiento más ligero y sencillo.
                        </div>
                        <div class="info-ia">
                            <span>Requisitos para su instalacion:</span>
                            Si deseas instalar Windows 7 debes tener en cuenta una serie de requisitos mínimos para su
                            adecuado funcionamiento. Primero, necesitas un procesador de 1 GHz de 32 bits o de 64 bits.
                            Segundo, debes contar con 1 GB de RAM o 2 GB de RAM y 16 GB de espacio disponible en tu
                            disco duro. Por último, tener una tarjeta gráfica DirectX 9 con controlador WDDM 1.0.
                        </div>
                        <div class="info-ia">
                            <span>¿Que tipo de Arquitectura elegir?</span>
                            Recuerda que Windows 7 de 32 bits es para computadores que tienen memoria RAM de 1 Gb, Si
                            tienes más de 2 Gb en tu memoria RAM te puede servir el Windows 7 de 64 bits.
                        </div>
                        <div class="info-ia">
                            Recuerda que el soporte de Windows 7 finalizó el 14 de enero de 2020
                        </div>
                        <div class="info-ia-download">
                            <h1>Imagen iso de Windows 7 y Rufus necesario para bootear el USB</h1>
                            <div class="ia-download">
                                <li><a href="https://exe.io/os7" target="_blank">Windows 7</a></li>
                                <li><a href="https://exe.io/MNCbT" target="_blank">Rufus</a></li>
                            </div>
                        </div>
                        <div class="info-ia-download">
                            <h1>Tutorial en el siguiente video:</h1>
                            <div class="ia-download-video">
                                <li><i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/watch?v=Lqtqzm0HbHA" target="_blank">Ver video</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-descarga-system">
                <div class="descarga-system">
                    <div class="system-title">
                        <H1>Otras Alternativas</H1>
                    </div>
                    <div class="system-download">                    
                        <div class="system-download-info">
                            <div class="system-download-info-img">
                                <img src="/static/img/windows/windows10.png" alt="">
                            </div>
                            <div class="system-download-info-title">
                                <h1>Windows 10</h1>
                            </div>
                            <div class="system-download-info-text">
                                <p>Windows 10 es un sistema operativo desarrollado por Microsoft como parte de la
                                    familia de sistemas operativos Windows NT.</p>
                            </div>
                            <div class="system-download-info-star">
                                <ul>
                                    <img src="/static/img/windows/Stars2.png" alt="">
                                </ul>
                                <ul>
                                    <h2>Gratis</h2>
                                </ul>
                            </div>
                            <li><a href="win_10">Descargar</a></li>
                        </div>
                        <div class="system-download-info">
                            <div class="system-download-info-img">
                                <img src="/static/img/windows/windows11.png" alt="">
                            </div>
                            <div class="system-download-info-title">
                                <h1>Windows 11</h1>
                            </div>
                            <div class="system-download-info-text">
                                <p>Windows 11 es el nombre de la versión más reciente del sistema operativo Windows​
                                    desarrollado por Microsoft, además de ser el sucesor de Windows 10.</p>
                            </div>
                            <div class="system-download-info-star">
                                <ul>
                                    <img src="/static/img/windows/Stars3.png" alt="">
                                </ul>
                                <ul>
                                    <h2>Gratis</h2>
                                </ul>
                            </div>
                            <li><a href="win_11">Descargar</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>

{%endblock%}
