<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shorcut icon" href="/static/img/logorc.png">
</head>


    <div style="height: 50vh;">
        <div>
            <div">
                <img src='https://i.postimg.cc/3rg3Xr6L/img-email.jpg' width="100%" alt="logo_redcompu">
        </div>
        <div style="background-color: #00151f; padding: 25px 0; color: #fff;">
            <div style="margin: 20px 0;">
                <h1 style="text-align: center; font-size: 15px; font-family: Arial; text-align: center;">Contraseña
                    actualizada
                    correctamente</h1>
            </div>
            <div>
                <h3 style="text-align: center; font-size: 15px; font-family: Arial; text-align: center;">Se ha
                    actualizado tu contraseña de
                    RedCompu.</h1>
            </div>

        </div>

    </div>

    </div>


</html>